* {
    box-sizing: border-box;
    scroll-padding-top: 3em;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
:root {
    --text: #f3f0f4;
    --bg: #140f14;
    --primary-button: #cfccbf;
    --secondary-button:#271f29;
    --accent: #bfcfcc;

    --h1: 48px;
    --h2: 32px;
    --subtitle: 24px;
    --p: 18px;
    --sub: 16px;
    --small: 14px;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--secondary-button);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-button);
    border-radius: 4px;
}
h1 {
    font-size: var(--h1);
    letter-spacing: -1px;
    font-weight: 700;
    margin: 0;
}
h2 {
    font-size: var(--h2);
    letter-spacing: -2px;
    font-weight: 700;
    margin: 0;
}
p {
    font-size: 18px;
    letter-spacing: normal;
    line-height: 150%;
}
body {
    color: var(--text);
    background-color: var(--bg);
    outline: 0px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 10%;
    gap: 1em;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
}
.container {
        outline: 1px solid fuchsia;
    width: 100%;
    height: 100vh;
    display: flex;

}
.hero-text {
    font-size: 48px;
    letter-spacing: -1px;
    font-weight: 700;
    margin: 0;
    outline: 0px solid red;
}
.part1 {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    outline: 1px solid cyan;
}
.part3 {
    width: calc(100% - 530px);
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    outline: 1px solid cyan;
}


.part1-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 1em;
    overflow-y: scroll;
}

.part1-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 0em;
}

.part1-card-bg {
    background-color: var(--text);
    opacity: 5%;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    flex: 1;
    top: 0;
    left: 0;
}

.highlight {
    z-index: 5;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.subtitle {
    font-size: var(--subtitle);
}

.part3-head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.part3-cards {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    gap: 1em;
    overflow-x: scroll;
    padding-bottom: 0.5em;
}

.part3-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    /* padding: 1em 3em 3em 3em; */
    padding: 0.5em 0.5em;
    position: relative;
    gap: 0em;
    text-align: center;
}

.part3-card-bg {
    border: solid 4px var(--secondary-button);
    opacity: 30%;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    z-index: -5;
    top: 0;
    left: 0;
}